/* Color Scheme:
    #0B132B
    #1C2541
    #2C415B
    #5BC0BE
    #6FFFE9
*/



/* Variables */

:root{
    --page-background: #0B132B;

    --fonts-color: #6FFFE9;
    --sec-bg: #1C2541;

    --hover-color: #1C2541;
    --hover-bg: #6FFFE9;

    --hover-dropdown-color: var(--fonts-color);
    --hover-dropdown-bg: #2C415B;

    --horizon-line: #5BC0BE;
}



/* -- Main + Theme -- */

body {
    background-color: var(--page-background);
    color: var(--fonts-color);
    margin: 0;
}
.navbar, footer, .section{
    background-color: var(--sec-bg);
}



/* -- Basic stuff -- */

p {
    margin: 2px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 0 0 20px #5BC0BE;
}
img {
    position:-ms-page;
}
hr {
    background-color: var(--horizon-line);
}



/* -- Page -- */

.section {
    margin: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.fill-all {
    margin: 0;
    padding: 0;
    position: relative;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fit {
    object-fit:cover;
    object-position:top;
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
    color: var(--fonts-color);
}
a:hover{
    text-decoration: none;
    color: var(--hover-color);
    background-color: var(--hover-bg);
    border-radius: 2px;
}
.cursor {
	border-left: 4px solid white;
}
a.round {
    border-radius: 100px;
}
a.btn {
    background-color: var(--fonts-color);
    color: var(--sec-bg);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 20px #5BC0BE;
}
a.btn:hover{
    color: var(--hover-bg);
    background-color: var(--hover-color);
    transition: 0.2s;
    box-shadow: 0 0 20px 5px #2C415B;
}
.glow{
    text-shadow: 0 0 20px #5BC0BE;
}
.shadow{
    text-shadow: 0 0 20px #1C2541;
}
.fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}



/* -- Header / Navbar -- */

header {
    position: sticky;
    width: 100%;
}
.dropdown-menu {
    background-color: var(--hover-bg);
    color: var(--hover-color);
}
.dropdown-item:hover {
    background-color: var(--sec-bg);
    color: var(--fonts-color);
    border-radius: 0;
}



/* -- Footer -- */

footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    top: 100%;
}
.copyright,
.terms {
    text-decoration: none;
    color: var(--fonts-color);
}
.copyright:hover,
.terms:hover{
    text-decoration: none;
    color: #5BC0BE;
    background-color: transparent;
}



/* -- Amimations -- */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}