/*
    Color Scheme:
    #0B132B
    #1C2541
    #2C415B
    #5BC0BE
    #6FFFE9
*/
:root{
    --page-background: #0B132B;

    --fonts-color: #6FFFE9;
    --sec-bg: #1C2541;

    --hover-color: #1C2541;
    --hover-bg: #6FFFE9;
}
body {
    background-color: var(--page-background);
    color: var(--fonts-color);
    margin: 0;
}

.section {
    margin: 30px;
}

h2 {
  text-align: center;
}

header {
    position: sticky;
    width: 100%;
}

footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    top: 100%;
}

.logo {
    width: 128px;
    height: 128px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}