/*
    Color Scheme:
    #0B132B
    #1C2541
    #2C415B
    #5BC0BE
    #6FFFE9
*/
:root{
    --page-background: #0B132B;

    --fonts-color: #6FFFE9;
    --sec-bg: #1C2541;

    --hover-color: #1C2541;
    --hover-bg: #6FFFE9;
}
body {
    background-color: var(--page-background);
    color: var(--fonts-color);
    margin: 0;
}

.section,
.container,
header,
footer,
a.copyright:hover {
    background-color: var(--sec-bg);
}

.section {
    margin: 30px;
}

header {
    position: sticky;
    width: 100%;
}

footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    top: 100%;
}

.logo {
    float: left;
    width: 2%;
    height: 2%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a.copyright  {
    text-decoration: none;
}
a.copyright:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

a  {
    color: var(--fonts-color);
    text-decoration: none;
}
a:hover {
    color:var(--hover-color);
    background-color: var(--hover-bg);
    text-decoration: none;
    border-radius: 3px;
}